# Preprocessing Section

## Data Loading

In [17]:
import sys
import os
import importlib

# Add project to path so we can import our modules
sys.path.append(os.path.abspath(".."))

# Import functionality from our source code
import src.data_loading.data_loader as data_loader
importlib.reload(data_loader)
from src.data_loading.data_loader import load_data, get_numerical_features, get_categorical_features


# Load the data
df = load_data()

list_numerical_features = get_numerical_features(df)
list_categorical_features = get_categorical_features(df)

Loading data from c:\Users\Utente\Desktop\STUDIO\LUISS\ANNO_3\Advanced_Coding\Credit_Score_Classification\data\raw\credit_score_dataset.csv
Loaded dataset with 100000 rows and 27 columns

## Categorical features

In [18]:
import src.preprocessing.categorical.categorical_features as categorical_features
importlib.reload(categorical_features)
from src.preprocessing.categorical.categorical_features import *

visualize_unique_categories(df, list_categorical_features);

Column 'ID' (90058 uniques):
the length of the list is too long to be printed entirely. Sample:
['0x1603', '0x1604', '0x1605', '0x1607', '0x1608', '0x1609', '0x160e', '0x160f', '0x1610', '0x1611']

Column 'Customer_ID' (12500 uniques):
the length of the list is too long to be printed entirely. Sample:
['CUS_0xd40', 'CUS_0x21b1', 'CUS_0x2dbc', 'CUS_0xb891', 'CUS_0x1cdb', 'CUS_0x95ee', 'CUS_0x284a', 'CUS_0x5407', 'CUS_0x4157', 'CUS_0xba08']

Column 'Month' (8 uniques):
['February', 'April', 'May', 'June', 'July', 'August', 'January', 'March']

Column 'Name' (10139 uniques):
the length of the list is too long to be printed entirely. Sample:
['Aaron Maashoh', 'Rick Rothackerj', 'Langep', 'Jasond', 'Deepaa', 'Np', 'Nadiaq', 'Annk', 'Charlie Zhur', 'Jamesj']

Column 'City' (4 uniques):
['Lonton', 'Standhampton', 'BadShire', 'ZeroVille']

Column 'Street' (31 uniques):
['Oxford Street', 'Old Street', 'Downing Street', 'Jubilee Street', 'Elm Street', 'Market Street', 'King Street', 'Abbey Drive', 'Imperial Street', 'Main Street', 'Fleet Street', 'Grove Street', 'Queen Street', 'High Street', 'South Street', 'North Street', 'Trafalgar Street', 'MemoryStreet', 'Lombard Street', 'Regent Street', 'New Street', 'Pine Street', 'Quality Street', 'Oak Street', 'Canal Street', 'Park Street', 'Penny Lane', 'Baker Street', 'River Street', 'London Street', 'Zero Street']

Column 'SSN' (12501 uniques):
the length of the list is too long to be printed entirely. Sample:
['821-00-0265', '#F%$D@*&8', '004-07-5839', '486-85-3974', '072-31-6145', '615-06-7821', '612-70-8987', '411-51-0676', '500-92-6408', '070-19-1622']

Column 'Occupation' (21 uniques):
['Manager', 'Teacher', 'Developer', 'Architect', 'Journalist', 'Scientist', 'Media_Manager', 'Unemployed', 'Lawyer', 'Cleaner', 'Farmer', 'Artist', 'Accountant', 'Writer', 'Engineer', 'Entrepreneur', 'Doctor', 'Musician', 'Mechanic', 'Student', 'Pension']

Column 'Annual_Income' (18438 uniques):
the length of the list is too long to be printed entirely. Sample:
['19114.12', '34847.84', '34847.84_', '143162.64', '30689.89', '30689.89_', '35547.71_', '35547.71', '73928.46', '131313.4']

Column 'Num_of_Loan' (399 uniques):
the length of the list is too long to be printed entirely. Sample:
['4', '1', '3', '-100', '0', '0_', '2', '3_', '2_', '7']

Column 'Type_of_Loan' (6260 uniques):
the length of the list is too long to be printed entirely. Sample:
['Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan', 'Credit-Builder Loan', 'Auto Loan, Auto Loan, and Not Specified', 'Not Specified', 'Credit-Builder Loan, and Mortgage Loan', 'Not Specified, Auto Loan, and Student Loan', 'Personal Loan, Debt Consolidation Loan, and Auto Loan', 'Not Specified, and Payday Loan', 'Credit-Builder Loan, Personal Loan, and Auto Loan', 'Payday Loan, and Payday Loan']

Column 'Num_of_Delayed_Payment' (684 uniques):
the length of the list is too long to be printed entirely. Sample:
['7', '4', '8_', '6', '1', '-1', '3_', '0', '8', '5']

Column 'Changed_Credit_Limit' (3592 uniques):
the length of the list is too long to be printed entirely. Sample:
['11.27', '6.27', '9.27', '5.42', '7.42', '6.42', '7.1', '11.1', '9.1', '1.99']

Column 'Credit_Mix' (4 uniques):
['_', 'Good', 'Standard', 'Bad']

Column 'Outstanding_Debt' (13088 uniques):
the length of the list is too long to be printed entirely. Sample:
['809.98', '605.03', '1303.01', '632.46', '943.86', '548.2', '352.16', '1704.18', '1377.74', '421.43']

Column 'Credit_History_Age' (404 uniques):
the length of the list is too long to be printed entirely. Sample:
['22 Years and 1 Months', '22 Years and 4 Months', '22 Years and 5 Months', '22 Years and 6 Months', '22 Years and 7 Months', '26 Years and 7 Months', '26 Years and 8 Months', '26 Years and 9 Months', '26 Years and 11 Months', '27 Years and 0 Months']

Column 'Payment_of_Min_Amount' (3 uniques):
['No', 'NM', 'Yes']

Column 'Amount_invested_monthly' (81866 uniques):
the length of the list is too long to be printed entirely. Sample:
['80.41529544', '118.2802216', '81.69952126', '199.4580744', '41.42015309', '178.3440674', '24.78521651', '104.2918252', '40.39123783', '58.5159757']

### Drop Identifiers Columns

In [19]:
IDENTIFIERS_TO_DROP = [
    'ID',
    'Customer_ID',
    'Name',
    'SSN'
]

# drop the columns that are purely identifiers and that can add bias to the model
df = df.drop(columns=IDENTIFIERS_TO_DROP)

### Handle "Street" feature

In [20]:
df = add_space_before_word(df, feature_column='Street', separator_word='Street')

### Handle "Credit History Age" feature

In [21]:
print("Credit_History_Age information before parsing:")
df["Credit_History_Age"].info()

print("\n"+"-"*100+"\n")

df["Credit_History_Age"] = df["Credit_History_Age"].apply(parse_string_time_period)

print("Credit_History_Age information after parsing:")
df["Credit_History_Age"].info()

Credit_History_Age information before parsing:
<class 'pandas.core.series.Series'>
RangeIndex: 100000 entries, 0 to 99999
Series name: Credit_History_Age
Non-Null Count  Dtype
--------------  -----
81791 non-null  object
dtypes: object(1)
memory usage: 781.4+ KB

----------------------------------------------------------------------------------------------------

Credit_History_Age information after parsing:
<class 'pandas.core.series.Series'>
RangeIndex: 100000 entries, 0 to 99999
Series name: Credit_History_Age
Non-Null Count  Dtype
--------------  -----
81791 non-null  float64
dtypes: float64(1)
memory usage: 781.4 KB

### Handle "Type of Loan" feature - Converting in Multiple Binary Numeric Features

In [22]:
# Handling Type of Loan feature
original_count_unique_categories = df['Type_of_Loan'].nunique()

visualize_top_n_categories(df, column='Type_of_Loan', top_n=25);

df['Type_of_Loan'] = df['Type_of_Loan'].fillna('Missing_Loan')

unique_loan_types_and_counts = get_unique_values_and_counts(df, column='Type_of_Loan')

# Print the discovered loan types and their frequencies
print(f"Discovered {len(unique_loan_types_and_counts)} unique values")
for unique_value, count in list(unique_loan_types_and_counts.items()): 
    print(f"- {unique_value}: {count:,} occurrences")


df = transform_to_binary_features(df, column='Type_of_Loan', unique_values=unique_loan_types_and_counts.keys(), feature_name='Loan')


# add "Loan" suffix to the column "Has_Not_Specified" for better readability
df.rename(columns={'Has_Not_Specified': 'Has_Not_Specified_Loan'}, inplace=True)

# Verify the transformation
print(f"\nOriginal unique values:", {original_count_unique_categories})
print("\nBinary Features (numeric) created from the categories of 'Type of Loan':")
for col in [c for c in df.columns if c.startswith('Has_')]:
    print(f"- {col}: {df[col].sum():,} records - type: {df[col].dtype}")


# Drop the original Type_of_Loan column
df.drop(columns=['Type_of_Loan'], inplace=True)

Top 25 Categories (out of 6261 unique values):
Total records analyzed: 100000

Detailed breakdown:
 1. Missing                                                                20,312 records (20.31%)
 2. Not Specified                                                           1,272 records (1.27%)
 3. Credit-Builder Loan                                                     1,143 records (1.14%)
 4. Debt Consolidation Loan                                                 1,133 records (1.13%)
 5. Personal Loan                                                           1,128 records (1.13%)
 6. Student Loan                                                            1,117 records (1.12%)
 7. Payday Loan                                                             1,061 records (1.06%)
 8. Mortgage Loan                                                           1,058 records (1.06%)
 9. Auto Loan                                                               1,024 records (1.02%)
10. Home Equity Loan                                                        1,015 records (1.01%)
11. Personal Loan, and Student Loan                                           292 records (0.29%)
12. Student Loan, and Payday Loan                                             236 records (0.24%)
13. Mortgage Loan, and Home Equity Loan                                       236 records (0.24%)
14. Not Specified, and Payday Loan                                            236 records (0.24%)
15. Credit-Builder Loan, and Not Specified                                    228 records (0.23%)
16. Payday Loan, and Auto Loan                                                219 records (0.22%)
17. Student Loan, and Credit-Builder Loan                                     219 records (0.22%)
18. Payday Loan, and Debt Consolidation Loan                                  218 records (0.22%)
19. Payday Loan, and Personal Loan                                            212 records (0.21%)
20. Personal Loan, and Credit-Builder Loan                                    211 records (0.21%)
21. Credit-Builder Loan, and Mortgage Loan                                    211 records (0.21%)
22. Mortgage Loan, and Not Specified                                          211 records (0.21%)
23. Payday Loan, and Student Loan                                             209 records (0.21%)
24. Not Specified, and Auto Loan                                              204 records (0.20%)
25. Debt Consolidation Loan, and Home Equity Loan                             202 records (0.20%)

The top 25 categories cover 33.61% of all records
Discovered 10 unique values
- Payday Loan: 28,705 occurrences
- Credit-Builder Loan: 28,534 occurrences
- Not Specified: 28,523 occurrences
- Home Equity Loan: 28,246 occurrences
- Mortgage Loan: 28,230 occurrences
- Personal Loan: 28,024 occurrences
- Student Loan: 27,994 occurrences
- Debt Consolidation Loan: 27,868 occurrences
- Auto Loan: 27,456 occurrences
- Missing_Loan: 20,312 occurrences

Creating binary features for 10 unique values

Original unique values: {6260}

Binary Features (numeric) created from the categories of 'Type of Loan':
- Has_Payday_Loan: 28,705 records - type: int64
- Has_Credit_Builder_Loan: 28,534 records - type: int64
- Has_Not_Specified_Loan: 28,523 records - type: int64
- Has_Home_Equity_Loan: 28,246 records - type: int64
- Has_Mortgage_Loan: 28,230 records - type: int64
- Has_Personal_Loan: 28,024 records - type: int64
- Has_Student_Loan: 27,994 records - type: int64
- Has_Debt_Consolidation_Loan: 27,868 records - type: int64
- Has_Auto_Loan: 27,456 records - type: int64
- Has_Missing_Loan: 20,312 records - type: int64

### Handle object columns with problematic-numeric values and convert to numeric

In [23]:
import src.preprocessing.categorical.problematic_numeric_values as problematic_numeric_values
importlib.reload(problematic_numeric_values)
from src.preprocessing.categorical.problematic_numeric_values import convert_non_numeric_strings_to_nan, identify_problematic_characters,  remove_characters, convert_to_numeric

# Features that should be numerical but are currently 'object'
PROBLEMATIC_NUMERICAL_FEATURES = [
    'Annual_Income',
    'Num_of_Loan',
    'Num_of_Delayed_Payment',
    'Changed_Credit_Limit',
    'Outstanding_Debt',
    'Amount_invested_monthly'
]

# Print info of the columns before cleaning and conversion to numeric
print("\nInfo for columns to be converted to numeric:")
print("-" * 50)
df[PROBLEMATIC_NUMERICAL_FEATURES].info()

# Convert strings that don't contain digits to NaN
df = convert_non_numeric_strings_to_nan(df, PROBLEMATIC_NUMERICAL_FEATURES)

# Identify problematic elements in the columns
print("Identifying problematic characters...\n")
problematic_characters = identify_problematic_characters(df, PROBLEMATIC_NUMERICAL_FEATURES)
print(f"\nProblematic characters found: {problematic_characters}")

print(f"\nRemoving problematic characters: {problematic_characters}")
df = remove_characters(df, PROBLEMATIC_NUMERICAL_FEATURES, problematic_characters)

non_numeric_characters = identify_problematic_characters(df, PROBLEMATIC_NUMERICAL_FEATURES)
print(f"\nNon-numeric characters found after cleaning: {non_numeric_characters}")

print("\nConverting to numeric...")
df = convert_to_numeric(df, PROBLEMATIC_NUMERICAL_FEATURES)

# Print info of the converted columns
print("\nInfo for numeric converted columns:")
print("-" * 50)
df[PROBLEMATIC_NUMERICAL_FEATURES].info()

Info for columns to be converted to numeric:
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Annual_Income            89906 non-null  object
 1   Num_of_Loan              89809 non-null  object
 2   Num_of_Delayed_Payment   83782 non-null  object
 3   Changed_Credit_Limit     89933 non-null  object
 4   Outstanding_Debt         90037 non-null  object
 5   Amount_invested_monthly  85880 non-null  object
dtypes: object(6)
memory usage: 4.6+ MB
Identifying problematic characters...


Column 'Annual_Income': 6292 values with problematic characters
--------------------------------------------------
Example 1: '34847.84_'
Example 2: '30689.89_'
Example 3: '35547.71_'

Column 'Num_of_Loan': 4267 values with problematic characters
--------------------------------------------------
Example 1: '0_'
Example 2: '3_'
Example 3: '3_'

Column 'Num_of_Delayed_Payment': 2489 values with problematic characters
--------------------------------------------------
Example 1: '8_'
Example 2: '3_'
Example 3: '3_'

Column 'Changed_Credit_Limit': No problematic values found

Column 'Outstanding_Debt': 916 values with problematic characters
--------------------------------------------------
Example 1: '1328.93_'
Example 2: '1283.37_'
Example 3: '2797.17_'

Column 'Amount_invested_monthly': 3862 values with problematic characters
--------------------------------------------------
Example 1: '__10000__'
Example 2: '__10000__'
Example 3: '__10000__'

Problematic characters found: {'_'}

Removing problematic characters: {'_'}

Non-numeric characters found after cleaning: set()

Converting to numeric...
Converted 'Annual_Income' to numeric
Converted 'Num_of_Loan' to numeric
Converted 'Num_of_Delayed_Payment' to numeric
Converted 'Changed_Credit_Limit' to numeric
Converted 'Outstanding_Debt' to numeric
Converted 'Amount_invested_monthly' to numeric

Info for numeric converted columns:
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Annual_Income            89906 non-null  float64
 1   Num_of_Loan              89809 non-null  float64
 2   Num_of_Delayed_Payment   83782 non-null  float64
 3   Changed_Credit_Limit     88058 non-null  float64
 4   Outstanding_Debt         90037 non-null  float64
 5   Amount_invested_monthly  85880 non-null  float64
dtypes: float64(6)
memory usage: 4.6 MB

### Remaining categorical features

In [24]:
list_categorical_features = get_categorical_features(df)

print("\nCategorical columns:")
for col in list_categorical_features:
    print(f"{col}: {df[col].dtype}")

Categorical columns:
Month: object
City: object
Street: object
Occupation: object
Credit_Mix: object
Payment_of_Min_Amount: object

## Numeric Features (addressing inconsistencies)

In [25]:
import src.preprocessing.numeric_features as numeric_features
importlib.reload(numeric_features)
from src.preprocessing.numeric_features import *

list_numerical_features = get_numerical_features(df)

print("\nList of Numeric columns:")
for col in list_numerical_features:
    print(f"{col}: {df[col].dtype}")

List of Numeric columns:
Age: float64
Annual_Income: float64
Monthly_Inhand_Salary: float64
Num_Bank_Accounts: float64
Num_Credit_Card: float64
Interest_Rate: float64
Num_of_Loan: float64
Delay_from_due_date: float64
Num_of_Delayed_Payment: float64
Changed_Credit_Limit: float64
Num_Credit_Inquiries: float64
Outstanding_Debt: float64
Credit_Utilization_Ratio: float64
Credit_History_Age: float64
Amount_invested_monthly: float64
Credit_Score: int64
Has_Payday_Loan: int64
Has_Credit_Builder_Loan: int64
Has_Not_Specified_Loan: int64
Has_Home_Equity_Loan: int64
Has_Mortgage_Loan: int64
Has_Personal_Loan: int64
Has_Student_Loan: int64
Has_Debt_Consolidation_Loan: int64
Has_Auto_Loan: int64
Has_Missing_Loan: int64

### Applying Constraints (excluding loans-related binary columns previously created)

In [26]:
# Identify loan-related columns
loan_columns = [col for col in df.columns if 'Has' in col and 'Loan' in col]
print(f"\nLoan-related columns identified ({len(loan_columns)}):")

df_copy = df.copy()

# Create a separate dataframe for loan-related columns
# This preserves the original index for later merging if needed
df_loans = df_copy[loan_columns]

# Create a dataframe without loan-related columns
df_no_loans = df_copy.drop(columns=loan_columns)


# Define constraints by feature
CONSTRAINTS = {
    'Age': {'min': 10, 'max': 120, 'integer': True},
    'Annual_Income': {'min': 0, 'max': None, 'integer': False}, 
    'Monthly_Inhand_Salary': {'min': 0, 'max': None, 'integer': False}, 
    'Num_Bank_Accounts': {'min': 0, 'max': 50, 'integer': True},
    'Num_Credit_Card': {'min': 0, 'max': 50, 'integer': True},
    'Interest_Rate': {'min': 0, 'max': 100, 'integer': False},
    'Num_of_Loan': {'min': 0, 'max': 50, 'integer': True},
    'Delay_from_due_date': {'min': 0, 'max': 180, 'integer': True},
    'Num_of_Delayed_Payment': {'min': 0, 'max': None, 'integer': True}, 
    'Changed_Credit_Limit': {'min': None, 'max': None, 'integer': False}, 
    'Num_Credit_Inquiries': {'min': 0, 'max': 50, 'integer': True},
    'Outstanding_Debt': {'min': 0, 'max': None, 'integer': False},
    'Credit_Utilization_Ratio': {'min': 0, 'max': 100, 'integer': False},
    'Credit_History_Age': {'min': 0, 'max': 110, 'integer': False},
    'Amount_invested_monthly': {'min': 0, 'max': None, 'integer': False}, 
    'Credit_Score': {'min': 0, 'max': 3, 'integer': True}
}

# TODO: CREATE A BEFORE/AFTER PLOTS VISUALIZATION REMOVE THE STATISTICS

numeric_features_before = get_numerical_features(df_no_loans)
print("\nNumeric columns Statistics - Before Setting Constraints:\n")
for col in numeric_features_before:
    print(f"{col}: {df_no_loans[col].describe()}\n")
print("\n"+"-"*100+"\n")

print("Setting constraints for numeric features...\n")
df_no_loans = set_constraints_for_numeric_features(df_no_loans, numeric_features_before, CONSTRAINTS)


numeric_features_after = get_numerical_features(df_no_loans)
print("\n"+"-"*100+"\n")
print("\nNumeric columns Statistics - After Setting Constraints:\n")
for col in numeric_features_after:
    print(f"{col}: {df_no_loans[col].describe()}\n")

# Merge back with the dataframe containing loans binary columns
df = pd.concat([df_no_loans, df_loans], axis=1)

Loan-related columns identified (10):

Numeric columns Statistics - Before Setting Constraints:

Age: count    85512.000000
mean       110.226845
std        684.907588
min       -500.000000
25%         24.000000
50%         33.000000
75%         42.000000
max       8698.000000
Name: Age, dtype: float64

Annual_Income: count    8.990600e+04
mean     1.765448e+05
std      1.429013e+06
min      7.005930e+03
25%      1.945305e+04
50%      3.757975e+04
75%      7.276004e+04
max      2.419806e+07
Name: Annual_Income, dtype: float64

Monthly_Inhand_Salary: count    76405.000000
mean      4185.789272
std       3178.560506
min        303.645417
25%       1625.023750
50%       3086.683333
75%       5940.317500
max      15204.633330
Name: Monthly_Inhand_Salary, dtype: float64

Num_Bank_Accounts: count    90167.000000
mean        17.105172
std        117.728215
min         -1.000000
25%          3.000000
50%          6.000000
75%          7.000000
max       1798.000000
Name: Num_Bank_Accounts, dtype: float64

Num_Credit_Card: count    89938.000000
mean        22.449410
std        129.037233
min          0.000000
25%          4.000000
50%          5.000000
75%          7.000000
max       1499.000000
Name: Num_Credit_Card, dtype: float64

Interest_Rate: count    90151.000000
mean        72.343923
std        465.684822
min          1.000000
25%          8.000000
50%         13.000000
75%         20.000000
max       5797.000000
Name: Interest_Rate, dtype: float64

Num_of_Loan: count    89809.000000
mean         3.065116
std         63.193373
min       -100.000000
25%          1.000000
50%          3.000000
75%          5.000000
max       1496.000000
Name: Num_of_Loan, dtype: float64

Delay_from_due_date: count    90012.000000
mean        21.081156
std         14.862707
min         -5.000000
25%         10.000000
50%         18.000000
75%         28.000000
max         67.000000
Name: Delay_from_due_date, dtype: float64

Num_of_Delayed_Payment: count    83782.000000
mean        31.041369
std        226.370296
min         -3.000000
25%          9.000000
50%         14.000000
75%         18.000000
max       4388.000000
Name: Num_of_Delayed_Payment, dtype: float64

Changed_Credit_Limit: count    88058.000000
mean        10.389097
std          6.782829
min         -6.490000
25%          5.340000
50%          9.410000
75%         14.860000
max         36.970000
Name: Changed_Credit_Limit, dtype: float64

Num_Credit_Inquiries: count    88102.000000
mean        27.846882
std        193.610843
min          0.000000
25%          3.000000
50%          6.000000
75%          9.000000
max       2597.000000
Name: Num_Credit_Inquiries, dtype: float64

Outstanding_Debt: count    90037.000000
mean      1426.100764
std       1154.658674
min          0.230000
25%        566.400000
50%       1167.040000
75%       1943.080000
max       4998.070000
Name: Outstanding_Debt, dtype: float64

Credit_Utilization_Ratio: count    90025.000000
mean        32.290967
std          5.114670
min         20.100770
25%         28.064418
50%         32.318280
75%         36.502272
max         50.000000
Name: Credit_Utilization_Ratio, dtype: float64

Credit_History_Age: count    81791.000000
mean        18.429578
std          8.311059
min          0.083333
25%         12.000000
50%         18.250000
75%         25.166667
max         33.666667
Name: Credit_History_Age, dtype: float64

Amount_invested_monthly: count    85880.000000
mean       636.146662
std       2041.263519
min          0.000000
25%         74.398846
50%        135.672601
75%        265.198596
max      10000.000000
Name: Amount_invested_monthly, dtype: float64

Credit_Score: count    100000.000000
mean          1.880640
std           0.683065
min           0.000000
25%           1.000000
50%           2.000000
75%           2.000000
max           3.000000
Name: Credit_Score, dtype: float64


----------------------------------------------------------------------------------------------------

Setting constraints for numeric features...


Cleaning Age...
  Found 790 below-minimum constraint. Replacing with NaN
  Found 1612 above-maximum constraint. Replacing with NaN

Cleaning Annual_Income...

Cleaning Monthly_Inhand_Salary...

Cleaning Num_Bank_Accounts...
  Found 20 below-minimum constraint. Replacing with NaN
  Found 1153 above-maximum constraint. Replacing with NaN

Cleaning Num_Credit_Card...
  Found 1991 above-maximum constraint. Replacing with NaN

Cleaning Interest_Rate...
  Found 1808 above-maximum constraint. Replacing with NaN

Cleaning Num_of_Loan...
  Found 3474 below-minimum constraint. Replacing with NaN
  Found 411 above-maximum constraint. Replacing with NaN

Cleaning Delay_from_due_date...
  Found 533 below-minimum constraint. Replacing with NaN

Cleaning Num_of_Delayed_Payment...
  Found 576 below-minimum constraint. Replacing with NaN

Cleaning Changed_Credit_Limit...

Cleaning Num_Credit_Inquiries...
  Found 1468 above-maximum constraint. Replacing with NaN

Cleaning Outstanding_Debt...

Cleaning Credit_Utilization_Ratio...

Cleaning Credit_History_Age...

Cleaning Amount_invested_monthly...

Cleaning Credit_Score...

----------------------------------------------------------------------------------------------------


Numeric columns Statistics - After Setting Constraints:

Age: count    83110.000000
mean        33.333738
std         10.802157
min         14.000000
25%         24.000000
50%         33.000000
75%         42.000000
max        118.000000
Name: Age, dtype: float64

Annual_Income: count    8.990600e+04
mean     1.765448e+05
std      1.429013e+06
min      7.005930e+03
25%      1.945305e+04
50%      3.757975e+04
75%      7.276004e+04
max      2.419806e+07
Name: Annual_Income, dtype: float64

Monthly_Inhand_Salary: count    76405.000000
mean      4185.789272
std       3178.560506
min        303.645417
25%       1625.023750
50%       3086.683333
75%       5940.317500
max      15204.633330
Name: Monthly_Inhand_Salary, dtype: float64

Num_Bank_Accounts: count    88994.000000
mean         5.382397
std          2.660145
min          0.000000
25%          3.000000
50%          6.000000
75%          7.000000
max         50.000000
Name: Num_Bank_Accounts, dtype: float64

Num_Credit_Card: count    87947.000000
mean         5.549490
std          2.174498
min          0.000000
25%          4.000000
50%          5.000000
75%          7.000000
max         49.000000
Name: Num_Credit_Card, dtype: float64

Interest_Rate: count    88343.000000
mean        14.547389
std          8.791108
min          1.000000
25%          7.000000
50%         13.000000
75%         20.000000
max        100.000000
Name: Interest_Rate, dtype: float64

Num_of_Loan: count    85924.00000
mean         3.53879
std          2.49045
min          0.00000
25%          2.00000
50%          3.00000
75%          5.00000
max         50.00000
Name: Num_of_Loan, dtype: float64

Delay_from_due_date: count    89479.000000
mean        21.219940
std         14.797115
min          0.000000
25%         10.000000
50%         18.000000
75%         28.000000
max         67.000000
Name: Delay_from_due_date, dtype: float64

Num_of_Delayed_Payment: count    83206.000000
mean        31.267697
std        227.136078
min          0.000000
25%          9.000000
50%         14.000000
75%         18.000000
max       4388.000000
Name: Num_of_Delayed_Payment, dtype: float64

Changed_Credit_Limit: count    88058.000000
mean        10.389097
std          6.782829
min         -6.490000
25%          5.340000
50%          9.410000
75%         14.860000
max         36.970000
Name: Changed_Credit_Limit, dtype: float64

Num_Credit_Inquiries: count    86634.000000
mean         5.784980
std          3.879198
min          0.000000
25%          3.000000
50%          5.000000
75%          8.000000
max         49.000000
Name: Num_Credit_Inquiries, dtype: float64

Outstanding_Debt: count    90037.000000
mean      1426.100764
std       1154.658674
min          0.230000
25%        566.400000
50%       1167.040000
75%       1943.080000
max       4998.070000
Name: Outstanding_Debt, dtype: float64

Credit_Utilization_Ratio: count    90025.000000
mean        32.290967
std          5.114670
min         20.100770
25%         28.064418
50%         32.318280
75%         36.502272
max         50.000000
Name: Credit_Utilization_Ratio, dtype: float64

Credit_History_Age: count    81791.000000
mean        18.429578
std          8.311059
min          0.083333
25%         12.000000
50%         18.250000
75%         25.166667
max         33.666667
Name: Credit_History_Age, dtype: float64

Amount_invested_monthly: count    85880.000000
mean       636.146662
std       2041.263519
min          0.000000
25%         74.398846
50%        135.672601
75%        265.198596
max      10000.000000
Name: Amount_invested_monthly, dtype: float64

Credit_Score: count    100000.000000
mean          1.880640
std           0.683065
min           0.000000
25%           1.000000
50%           2.000000
75%           2.000000
max           3.000000
Name: Credit_Score, dtype: float64

## Reduced dataset (25 000 rows) for faster computation in next sections

In [27]:
# Randomly select 25000 rows from the original dataset
reduced_dataset_25k = df.sample(n=25000, random_state=42)

df = reduced_dataset_25k

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25000 entries, 75721 to 11627
Data columns (total 32 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Month                        22559 non-null  object
 1   City                         22503 non-null  object
 2   Street                       22513 non-null  object
 3   Age                          20816 non-null  float64
 4   Occupation                   22511 non-null  object
 5   Annual_Income                22479 non-null  float64
 6   Monthly_Inhand_Salary        19028 non-null  float64
 7   Num_Bank_Accounts            22191 non-null  float64
 8   Num_Credit_Card              21946 non-null  float64
 9   Interest_Rate                22131 non-null  float64
 10  Num_of_Loan                  21511 non-null  float64
 11  Delay_from_due_date          22398 non-null  float64
 12  Num_of_Delayed_Payment       20801 non-null  float64
 13  Changed_Credit_Limit         22094 non-null  float64
 14  Num_Credit_Inquiries         21736 non-null  float64
 15  Credit_Mix                   22486 non-null  object
 16  Outstanding_Debt             22627 non-null  float64
 17  Credit_Utilization_Ratio     22535 non-null  float64
 18  Credit_History_Age           20453 non-null  float64
 19  Payment_of_Min_Amount        22520 non-null  object
 20  Amount_invested_monthly      21481 non-null  float64
 21  Credit_Score                 25000 non-null  int64
 22  Has_Payday_Loan              25000 non-null  int64
 23  Has_Credit_Builder_Loan      25000 non-null  int64
 24  Has_Not_Specified_Loan       25000 non-null  int64
 25  Has_Home_Equity_Loan         25000 non-null  int64
 26  Has_Mortgage_Loan            25000 non-null  int64
 27  Has_Personal_Loan            25000 non-null  int64
 28  Has_Student_Loan             25000 non-null  int64
 29  Has_Debt_Consolidation_Loan  25000 non-null  int64
 30  Has_Auto_Loan                25000 non-null  int64
 31  Has_Missing_Loan             25000 non-null  int64
dtypes: float64(15), int64(11), object(6)
memory usage: 6.3+ MB

## Missing Values Handling

### Handle Missing values for numeric features

In [28]:
import src.preprocessing.missing_values.knn_imputation as knn_imputation
importlib.reload(knn_imputation)
from src.preprocessing.missing_values.knn_imputation import *

import src.preprocessing.missing_values.missing_values_processing as missing_values
importlib.reload(missing_values)
from src.preprocessing.missing_values.missing_values_processing import *


# Analyze missing values for numeric features
missing_stats_for_num_features = analyze_missing_values(df[list_numerical_features])
print("\nMissing Value Statistics for Numerical features:\n")
print(missing_stats_for_num_features)


num_columns_with_missing = missing_stats_for_num_features.index.tolist()

print(f"\nApplying KNN imputation method for {len(num_columns_with_missing)} numeric columns\n")
df, _ = apply_and_evaluate_knn_imputation(df=df, columns=num_columns_with_missing, plot=False)

print(f"""
Check remaining missing values:
{df[list_numerical_features].isnull().sum()}
""")

Total features with missing values: 15

Missing Value Statistics for Numerical features:

                          Missing Count  Missing Percentage Data Type
Monthly_Inhand_Salary              5972               23.89   float64
Credit_History_Age                 4547               18.19   float64
Num_of_Delayed_Payment             4199               16.80   float64
Age                                4184               16.74   float64
Amount_invested_monthly            3519               14.08   float64
Num_of_Loan                        3489               13.96   float64
Num_Credit_Inquiries               3264               13.06   float64
Num_Credit_Card                    3054               12.22   float64
Changed_Credit_Limit               2906               11.62   float64
Interest_Rate                      2869               11.48   float64
Num_Bank_Accounts                  2809               11.24   float64
Delay_from_due_date                2602               10.41   float64
Annual_Income                      2521               10.08   float64
Credit_Utilization_Ratio           2465                9.86   float64
Outstanding_Debt                   2373                9.49   float64

Applying KNN imputation method for 15 numeric columns


Check remaining missing values:
Age                            0
Annual_Income                  0
Monthly_Inhand_Salary          0
Num_Bank_Accounts              0
Num_Credit_Card                0
Interest_Rate                  0
Num_of_Loan                    0
Delay_from_due_date            0
Num_of_Delayed_Payment         0
Changed_Credit_Limit           0
Num_Credit_Inquiries           0
Outstanding_Debt               0
Credit_Utilization_Ratio       0
Credit_History_Age             0
Amount_invested_monthly        0
Credit_Score                   0
Has_Payday_Loan                0
Has_Credit_Builder_Loan        0
Has_Not_Specified_Loan         0
Has_Home_Equity_Loan           0
Has_Mortgage_Loan              0
Has_Personal_Loan              0
Has_Student_Loan               0
Has_Debt_Consolidation_Loan    0
Has_Auto_Loan                  0
Has_Missing_Loan               0
dtype: int64

### Handle Missing values for categorical features

##### Here I could consider to create another class Apply another class for Hyperparameter Tuning

In [29]:

# Visualize the proportion of unique categories for each categorical feature
visualize_proportion_of_unique_categories(df, list_categorical_features)

df_before_missing = df.copy()

def fill_missing_with_category(df, feature_column, value_to_fill):
    
    df[feature_column] = df[feature_column].fillna(value_to_fill)
    return df

df = fill_missing_with_category(df, feature_column='Credit_Mix', value_to_fill='_')
df = fill_missing_with_category(df, feature_column='Payment_of_Min_Amount', value_to_fill='NM')


df[list_categorical_features] = df[list_categorical_features].fillna('Unknown')

#improve it
#plot_distribution_comparison_for_categorical(df_before_missing, df, list_categorical_features)

Column 'Month' has 9 unique categories:

All categories (proportion) for column 'Month':

February: 11.48%
June: 11.44%
April: 11.28%
January: 11.26%
March: 11.23%
July: 11.20%
August: 11.19%
May: 11.15%
Missing: 9.76%

----------------------------------------------------------------------------------------------------


Column 'City' has 5 unique categories:

All categories (proportion) for column 'City':

Standhampton: 47.55%
BadShire: 26.23%
Lonton: 15.85%
Missing: 9.99%
ZeroVille: 0.38%

----------------------------------------------------------------------------------------------------


Column 'Street' has 32 unique categories:

Showing top 10 most frequent categories (proportion) for column 'Street':

Missing: 9.95%
Quality Street: 5.36%
Jubilee Street: 5.12%
Memory Street: 5.04%
Fleet Street: 5.04%
Old Street: 5.01%
High Street: 4.97%
New Street: 4.93%
Grove Street: 4.90%
Imperial Street: 4.85%

----------------------------------------------------------------------------------------------------


Column 'Occupation' has 22 unique categories:

Showing top 10 most frequent categories (proportion) for column 'Occupation':

Journalist: 17.26%
Architect: 16.74%
Teacher: 16.00%
Missing: 9.96%
Cleaner: 3.42%
Artist: 3.38%
Musician: 3.32%
Farmer: 3.24%
Unemployed: 3.21%
Mechanic: 3.18%

----------------------------------------------------------------------------------------------------


Column 'Credit_Mix' has 5 unique categories:

All categories (proportion) for column 'Credit_Mix':

Standard: 32.84%
Good: 21.49%
_: 18.25%
Bad: 17.37%
Missing: 10.06%

----------------------------------------------------------------------------------------------------


Column 'Payment_of_Min_Amount' has 4 unique categories:

All categories (proportion) for column 'Payment_of_Min_Amount':

Yes: 47.37%
No: 31.92%
NM: 10.78%
Missing: 9.92%

----------------------------------------------------------------------------------------------------

## Save Initial Processed Dataset (with 25k rows)

In [30]:
import pathlib

script_dir = pathlib.Path.cwd()
project_root = script_dir.parent

# 4) Build the path to data/dummy_dataset
save_dir = project_root / 'data' / 'processed'
save_dir.mkdir(parents=True, exist_ok=True)         # just in case


# Save to CSV
save_path = save_dir / 'initial_processed_dataset_25k_rows.csv'
df.to_csv(save_path, index=False)
print(f"Saved Intermediate Dataset to {save_path}")

Saved Intermediate Dataset to c:\Users\Utente\Desktop\STUDIO\LUISS\ANNO_3\Advanced_Coding\Credit_Score_Classification\data\processed\initial_processed_dataset_25k_rows.csv

## Save Initial Processed Dataset (with 10k rows)

In [31]:
# Randomly select 25000 rows from the original dataset
reduced_dataset_10k = df.sample(n=10000, random_state=42)

df = reduced_dataset_10k

import pathlib

script_dir = pathlib.Path.cwd()
project_root = script_dir.parent

# 4) Build the path to data/dummy_dataset
save_dir = project_root / 'data' / 'processed'
save_dir.mkdir(parents=True, exist_ok=True)         # just in case


# Save to CSV
save_path = save_dir / 'initial_processed_dataset_10k_rows.csv'
df.to_csv(save_path, index=False)
print(f"Saved Intermediate Dataset to {save_path}")

Saved Intermediate Dataset to c:\Users\Utente\Desktop\STUDIO\LUISS\ANNO_3\Advanced_Coding\Credit_Score_Classification\data\processed\initial_processed_dataset_10k_rows.csv