# Initial Dataset Exploration

In [32]:
import sys
import os
import importlib

In [33]:
# Add project to path so we can import our modules
sys.path.append(os.path.abspath(".."))

In [34]:
# Import functionality from our source code
import src.data_loading.data_loader as data_loader
importlib.reload(data_loader)
from src.data_loading.data_loader import load_data, get_numerical_features, get_categorical_features

In [35]:
# Load the data
df = load_data()

Loading data from c:\Users\Utente\Desktop\STUDIO\LUISS\ANNO_3\Advanced_Coding\Credit_Score_Classification\data\raw\credit_score_dataset.csv
Loaded dataset with 100000 rows and 27 columns

In [36]:
# Display the first 5 rows of the dataset for a quick glance
print("\nFirst 5 Rows of the Dataset:\n")
df.head()

First 5 Rows of the Dataset:

,ID,Customer_ID,Month,Name,City,Street,Age,SSN,Occupation,Annual_Income,...,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Amount_invested_monthly,Credit_Score
0,NaN,CUS_0xd40,NaN,Aaron Maashoh,Lonton,Oxford Street,NaN,821-00-0265,Manager,19114.12,...,7,11.27,4.0,_,NaN,26.822620,22 Years and 1 Months,No,80.41529544,3
1,0x1603,CUS_0xd40,February,Aaron Maashoh,Lonton,Oxford Street,23.0,821-00-0265,Manager,19114.12,...,NaN,11.27,4.0,NaN,809.98,31.944960,NaN,No,118.2802216,3
2,0x1604,CUS_0xd40,NaN,NaN,Lonton,Oxford Street,-500.0,821-00-0265,Manager,19114.12,...,7,NaN,4.0,Good,809.98,28.609352,NaN,No,81.69952126,3
3,0x1605,CUS_0xd40,April,Aaron Maashoh,Lonton,Oxford Street,23.0,821-00-0265,Manager,19114.12,...,4,6.27,4.0,Good,809.98,NaN,22 Years and 4 Months,No,199.4580744,3
4,NaN,CUS_0xd40,May,Aaron Maashoh,Lonton,Oxford Street,23.0,821-00-0265,Manager,19114.12,...,NaN,11.27,4.0,Good,809.98,24.797347,22 Years and 5 Months,No,41.42015309,3

In [37]:
# Display dataset shape in a readable format
print(f"Dataset Shape: {df.shape[0]} rows, {df.shape[1]} columns\n")

Dataset Shape: 100000 rows, 27 columns

In [38]:
# Display dataset information in a readable format
print("Dataset Information:\n")
df.info()

Dataset Information:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 27 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        90058 non-null   object
 1   Customer_ID               90107 non-null   object
 2   Month                     90062 non-null   object
 3   Name                      81113 non-null   object
 4   City                      90149 non-null   object
 5   Street                    90080 non-null   object
 6   Age                       85512 non-null   float64
 7   SSN                       89999 non-null   object
 8   Occupation                90056 non-null   object
 9   Annual_Income             89906 non-null   object
 10  Monthly_Inhand_Salary     76405 non-null   float64
 11  Num_Bank_Accounts         90167 non-null   float64
 12  Num_Credit_Card           89938 non-null   float64
 13  Interest_Rate             90151 non-null   float64
 14  Num_of_Loan               89809 non-null   object
 15  Type_of_Loan              79688 non-null   object
 16  Delay_from_due_date       90012 non-null   float64
 17  Num_of_Delayed_Payment    83782 non-null   object
 18  Changed_Credit_Limit      89933 non-null   object
 19  Num_Credit_Inquiries      88102 non-null   float64
 20  Credit_Mix                90085 non-null   object
 21  Outstanding_Debt          90037 non-null   object
 22  Credit_Utilization_Ratio  90025 non-null   float64
 23  Credit_History_Age        81791 non-null   object
 24  Payment_of_Min_Amount     90043 non-null   object
 25  Amount_invested_monthly   85880 non-null   object
 26  Credit_Score              100000 non-null  int64
dtypes: float64(8), int64(1), object(18)
memory usage: 20.6+ MB

In [39]:
list_numerical_features = get_numerical_features(df)

print("\nNumeric columns:")
for col in list_numerical_features:
    print(f"{col}: {df[col].dtype}")

Numeric columns:
Age: float64
Monthly_Inhand_Salary: float64
Num_Bank_Accounts: float64
Num_Credit_Card: float64
Interest_Rate: float64
Delay_from_due_date: float64
Num_Credit_Inquiries: float64
Credit_Utilization_Ratio: float64
Credit_Score: int64

In [40]:
list_categorical_features = get_categorical_features(df)

print("\nCategorical columns:")
for col in list_categorical_features:
    print(f"{col}: {df[col].dtype}")

Categorical columns:
ID: object
Customer_ID: object
Month: object
Name: object
City: object
Street: object
SSN: object
Occupation: object
Annual_Income: object
Num_of_Loan: object
Type_of_Loan: object
Num_of_Delayed_Payment: object
Changed_Credit_Limit: object
Credit_Mix: object
Outstanding_Debt: object
Credit_History_Age: object
Payment_of_Min_Amount: object
Amount_invested_monthly: object

We identified columns that should be numeric

# Preprocessing part

## Categorical features

In [41]:
import src.preprocessing.categorical.categorical_features as categorical_features
importlib.reload(categorical_features)
from src.preprocessing.categorical.categorical_features import *

In [42]:
visualize_unique_categories(df, list_categorical_features);

Column 'ID' (90058 uniques):
the length of the list is too long to be printed entirely. Sample:
['0x1603', '0x1604', '0x1605', '0x1607', '0x1608', '0x1609', '0x160e', '0x160f', '0x1610', '0x1611']

Column 'Customer_ID' (12500 uniques):
the length of the list is too long to be printed entirely. Sample:
['CUS_0xd40', 'CUS_0x21b1', 'CUS_0x2dbc', 'CUS_0xb891', 'CUS_0x1cdb', 'CUS_0x95ee', 'CUS_0x284a', 'CUS_0x5407', 'CUS_0x4157', 'CUS_0xba08']

Column 'Month' (8 uniques):
['February', 'April', 'May', 'June', 'July', 'August', 'January', 'March']

Column 'Name' (10139 uniques):
the length of the list is too long to be printed entirely. Sample:
['Aaron Maashoh', 'Rick Rothackerj', 'Langep', 'Jasond', 'Deepaa', 'Np', 'Nadiaq', 'Annk', 'Charlie Zhur', 'Jamesj']

Column 'City' (4 uniques):
['Lonton', 'Standhampton', 'BadShire', 'ZeroVille']

Column 'Street' (31 uniques):
['Oxford Street', 'Old Street', 'Downing Street', 'Jubilee Street', 'Elm Street', 'Market Street', 'King Street', 'Abbey Drive', 'Imperial Street', 'Main Street', 'Fleet Street', 'Grove Street', 'Queen Street', 'High Street', 'South Street', 'North Street', 'Trafalgar Street', 'MemoryStreet', 'Lombard Street', 'Regent Street', 'New Street', 'Pine Street', 'Quality Street', 'Oak Street', 'Canal Street', 'Park Street', 'Penny Lane', 'Baker Street', 'River Street', 'London Street', 'Zero Street']

Column 'SSN' (12501 uniques):
the length of the list is too long to be printed entirely. Sample:
['821-00-0265', '#F%$D@*&8', '004-07-5839', '486-85-3974', '072-31-6145', '615-06-7821', '612-70-8987', '411-51-0676', '500-92-6408', '070-19-1622']

Column 'Occupation' (21 uniques):
['Manager', 'Teacher', 'Developer', 'Architect', 'Journalist', 'Scientist', 'Media_Manager', 'Unemployed', 'Lawyer', 'Cleaner', 'Farmer', 'Artist', 'Accountant', 'Writer', 'Engineer', 'Entrepreneur', 'Doctor', 'Musician', 'Mechanic', 'Student', 'Pension']

Column 'Annual_Income' (18438 uniques):
the length of the list is too long to be printed entirely. Sample:
['19114.12', '34847.84', '34847.84_', '143162.64', '30689.89', '30689.89_', '35547.71_', '35547.71', '73928.46', '131313.4']

Column 'Num_of_Loan' (399 uniques):
the length of the list is too long to be printed entirely. Sample:
['4', '1', '3', '-100', '0', '0_', '2', '3_', '2_', '7']

Column 'Type_of_Loan' (6260 uniques):
the length of the list is too long to be printed entirely. Sample:
['Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan', 'Credit-Builder Loan', 'Auto Loan, Auto Loan, and Not Specified', 'Not Specified', 'Credit-Builder Loan, and Mortgage Loan', 'Not Specified, Auto Loan, and Student Loan', 'Personal Loan, Debt Consolidation Loan, and Auto Loan', 'Not Specified, and Payday Loan', 'Credit-Builder Loan, Personal Loan, and Auto Loan', 'Payday Loan, and Payday Loan']

Column 'Num_of_Delayed_Payment' (684 uniques):
the length of the list is too long to be printed entirely. Sample:
['7', '4', '8_', '6', '1', '-1', '3_', '0', '8', '5']

Column 'Changed_Credit_Limit' (3592 uniques):
the length of the list is too long to be printed entirely. Sample:
['11.27', '6.27', '9.27', '5.42', '7.42', '6.42', '7.1', '11.1', '9.1', '1.99']

Column 'Credit_Mix' (4 uniques):
['_', 'Good', 'Standard', 'Bad']

Column 'Outstanding_Debt' (13088 uniques):
the length of the list is too long to be printed entirely. Sample:
['809.98', '605.03', '1303.01', '632.46', '943.86', '548.2', '352.16', '1704.18', '1377.74', '421.43']

Column 'Credit_History_Age' (404 uniques):
the length of the list is too long to be printed entirely. Sample:
['22 Years and 1 Months', '22 Years and 4 Months', '22 Years and 5 Months', '22 Years and 6 Months', '22 Years and 7 Months', '26 Years and 7 Months', '26 Years and 8 Months', '26 Years and 9 Months', '26 Years and 11 Months', '27 Years and 0 Months']

Column 'Payment_of_Min_Amount' (3 uniques):
['No', 'NM', 'Yes']

Column 'Amount_invested_monthly' (81866 uniques):
the length of the list is too long to be printed entirely. Sample:
['80.41529544', '118.2802216', '81.69952126', '199.4580744', '41.42015309', '178.3440674', '24.78521651', '104.2918252', '40.39123783', '58.5159757']

### Drop Identifiers Columns

In [43]:
IDENTIFIERS_TO_DROP = [
    'ID',
    'Customer_ID',
    'Name',
    'SSN'
]

# drop the columns that are purely identifiers and that can add bias to the model
df = df.drop(columns=IDENTIFIERS_TO_DROP)

### Handle "Street" feature

In [44]:
df = add_space_before_word(df, feature_column='Street', separator_word='Street')

### Handle "Credit History Age" feature

In [45]:
print("Credit_History_Age information before parsing:")
df["Credit_History_Age"].info()

print("\n"+"-"*100+"\n")

df["Credit_History_Age"] = df["Credit_History_Age"].apply(parse_string_time_period)

print("Credit_History_Age information after parsing:")
df["Credit_History_Age"].info()

Credit_History_Age information before parsing:
<class 'pandas.core.series.Series'>
RangeIndex: 100000 entries, 0 to 99999
Series name: Credit_History_Age
Non-Null Count  Dtype
--------------  -----
81791 non-null  object
dtypes: object(1)
memory usage: 781.4+ KB

----------------------------------------------------------------------------------------------------

Credit_History_Age information after parsing:
<class 'pandas.core.series.Series'>
RangeIndex: 100000 entries, 0 to 99999
Series name: Credit_History_Age
Non-Null Count  Dtype
--------------  -----
81791 non-null  float64
dtypes: float64(1)
memory usage: 781.4 KB

### Handle "Type of Loan" feature - Converting in Multiple Binary Numeric Features

In [46]:
# ANOTHER IDEA COULD BE TO LEAVE THE FEATURE AS IT IS, AND ONLY AFTER HANDLING MISSING VALUES, 
# MOVING THIS CELL IN THE SECTION REGARDING THE ENCODING OT CATEGORICAL FEATURES

In [47]:
'''
THEORETICALLY I SHOULD HANDLE MISSING VALUES BEFORE HANDLING THE CATEGORICAL FEATURES (AT LEAST FOR THE CASE OF TYPE OF LOAN)
BECAUSE TRANSFORMING IT TO BINARY FEATURES, I CAN ONLY COUNT THE VALUE AS MISSING (THAT WOULD BE THE SAME AS TO COUNT IT FOR "NOT SPECIFIED")
INSTEAD, IF I DO BEFORE THE KNN IMPUTATION, I CAN GET VALUE FROM THE MISSING ONES.\n


original_count_unique_categories = df['Type_of_Loan'].nunique()

visualize_top_n_categories(df, column='Type_of_Loan', top_n=25);

unique_loan_types_and_counts = get_unique_values_and_counts(df, column='Type_of_Loan')

# Print the discovered loan types and their frequencies
print(f"Discovered {len(unique_loan_types_and_counts)} unique values")
for unique_value, count in list(unique_loan_types_and_counts.items()): 
    print(f"- {unique_value}: {count:,} occurrences")


df = transform_to_binary_features(df, column='Type_of_Loan', unique_values=unique_loan_types_and_counts.keys(), feature_name='Loan')


# add "Loan" suffix to the column "Has_Not_Specified" for better readability
df.rename(columns={'Has_Not_Specified': 'Has_Not_Specified_Loan'}, inplace=True)

# Verify the transformation
print(f"\nOriginal unique values:", {original_count_unique_categories})
print("\nBinary Features (numeric) created from the categories of 'Type of Loan':")
for col in [c for c in df.columns if c.startswith('Has_')]:
    print(f"- {col}: {df[col].sum():,} records - type: {df[col].dtype}")


# Drop the original Type_of_Loan column
df.drop(columns=['Type_of_Loan'], inplace=True)

'''

'\nTHEORETICALLY I SHOULD HANDLE MISSING VALUES BEFORE HANDLING THE CATEGORICAL FEATURES (AT LEAST FOR THE CASE OF TYPE OF LOAN)\nBECAUSE TRANSFORMING IT TO BINARY FEATURES, I CAN ONLY COUNT THE VALUE AS MISSING (THAT WOULD BE THE SAME AS TO COUNT IT FOR "NOT SPECIFIED")\nINSTEAD, IF I DO BEFORE THE KNN IMPUTATION, I CAN GET VALUE FROM THE MISSING ONES.\n\n\n\noriginal_count_unique_categories = df[\'Type_of_Loan\'].nunique()\n\nvisualize_top_n_categories(df, column=\'Type_of_Loan\', top_n=25);\n\nunique_loan_types_and_counts = get_unique_values_and_counts(df, column=\'Type_of_Loan\')\n\n# Print the discovered loan types and their frequencies\nprint(f"Discovered {len(unique_loan_types_and_counts)} unique values")\nfor unique_value, count in list(unique_loan_types_and_counts.items()): \n    print(f"- {unique_value}: {count:,} occurrences")\n\n\ndf = transform_to_binary_features(df, column=\'Type_of_Loan\', unique_values=unique_loan_types_and_counts.keys(), feature_name=\'Loan\')\n\n\n# add "Loan" suffix to the column "Has_Not_Specified" for better readability\ndf.rename(columns={\'Has_Not_Specified\': \'Has_Not_Specified_Loan\'}, inplace=True)\n\n# Verify the transformation\nprint(f"\nOriginal unique values:", {original_count_unique_categories})\nprint("\nBinary Features (numeric) created from the categories of \'Type of Loan\':")\nfor col in [c for c in df.columns if c.startswith(\'Has_\')]:\n    print(f"- {col}: {df[col].sum():,} records - type: {df[col].dtype}")\n\n\n# Drop the original Type_of_Loan column\ndf.drop(columns=[\'Type_of_Loan\'], inplace=True)\n\n'

### Handle object columns with problematic-numeric values and convert to numeric

In [48]:
import src.preprocessing.categorical.problematic_numeric_values as problematic_numeric_values
importlib.reload(problematic_numeric_values)
from src.preprocessing.categorical.problematic_numeric_values import convert_non_numeric_strings_to_nan, identify_problematic_characters,  remove_characters, convert_to_numeric

In [49]:
# Features that should be numerical but are currently 'object'

PROBLEMATIC_NUMERICAL_FEATURES = [
    'Annual_Income',
    'Num_of_Loan',
    'Num_of_Delayed_Payment',
    'Changed_Credit_Limit',
    'Outstanding_Debt',
    'Amount_invested_monthly'
]

# Print info of the columns before cleaning and conversion to numeric
print("\nInfo for columns to be converted to numeric:")
print("-" * 50)
df[PROBLEMATIC_NUMERICAL_FEATURES].info()

# Convert strings that don't contain digits to NaN
df = convert_non_numeric_strings_to_nan(df, PROBLEMATIC_NUMERICAL_FEATURES)

# Identify problematic elements in the columns
print("Identifying problematic characters...\n")
problematic_characters = identify_problematic_characters(df, PROBLEMATIC_NUMERICAL_FEATURES)
print(f"\nProblematic characters found: {problematic_characters}")

print(f"\nRemoving problematic characters: {problematic_characters}")
df = remove_characters(df, PROBLEMATIC_NUMERICAL_FEATURES, problematic_characters)

non_numeric_characters = identify_problematic_characters(df, PROBLEMATIC_NUMERICAL_FEATURES)
print(f"\nNon-numeric characters found after cleaning: {non_numeric_characters}")

print("\nConverting to numeric...")
df = convert_to_numeric(df, PROBLEMATIC_NUMERICAL_FEATURES)

# Print info of the converted columns
print("\nInfo for numeric converted columns:")
print("-" * 50)
df[PROBLEMATIC_NUMERICAL_FEATURES].info()

Info for columns to be converted to numeric:
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Annual_Income            89906 non-null  object
 1   Num_of_Loan              89809 non-null  object
 2   Num_of_Delayed_Payment   83782 non-null  object
 3   Changed_Credit_Limit     89933 non-null  object
 4   Outstanding_Debt         90037 non-null  object
 5   Amount_invested_monthly  85880 non-null  object
dtypes: object(6)
memory usage: 4.6+ MB
Identifying problematic characters...


Column 'Annual_Income': 6292 values with problematic characters
--------------------------------------------------
Example 1: '34847.84_'
Example 2: '30689.89_'
Example 3: '35547.71_'

Column 'Num_of_Loan': 4267 values with problematic characters
--------------------------------------------------
Example 1: '0_'
Example 2: '3_'
Example 3: '3_'

Column 'Num_of_Delayed_Payment': 2489 values with problematic characters
--------------------------------------------------
Example 1: '8_'
Example 2: '3_'
Example 3: '3_'

Column 'Changed_Credit_Limit': No problematic values found

Column 'Outstanding_Debt': 916 values with problematic characters
--------------------------------------------------
Example 1: '1328.93_'
Example 2: '1283.37_'
Example 3: '2797.17_'

Column 'Amount_invested_monthly': 3862 values with problematic characters
--------------------------------------------------
Example 1: '__10000__'
Example 2: '__10000__'
Example 3: '__10000__'

Problematic characters found: {'_'}

Removing problematic characters: {'_'}

Non-numeric characters found after cleaning: set()

Converting to numeric...
Converted 'Annual_Income' to numeric
Converted 'Num_of_Loan' to numeric
Converted 'Num_of_Delayed_Payment' to numeric
Converted 'Changed_Credit_Limit' to numeric
Converted 'Outstanding_Debt' to numeric
Converted 'Amount_invested_monthly' to numeric

Info for numeric converted columns:
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Annual_Income            89906 non-null  float64
 1   Num_of_Loan              89809 non-null  float64
 2   Num_of_Delayed_Payment   83782 non-null  float64
 3   Changed_Credit_Limit     88058 non-null  float64
 4   Outstanding_Debt         90037 non-null  float64
 5   Amount_invested_monthly  85880 non-null  float64
dtypes: float64(6)
memory usage: 4.6 MB

### Remaining categorical features

In [50]:
list_categorical_features = get_categorical_features(df)

print("\nCategorical columns:")
for col in list_categorical_features:
    print(f"{col}: {df[col].dtype}")

Categorical columns:
Month: object
City: object
Street: object
Occupation: object
Type_of_Loan: object
Credit_Mix: object
Payment_of_Min_Amount: object

## Numeric Features (addressing constraints)

In [51]:
import src.preprocessing.numeric_features as numeric_features
importlib.reload(numeric_features)
from src.preprocessing.numeric_features import *

In [52]:
# Define constraints by feature
CONSTRAINTS = {
    'Age': {'min': 10, 'max': 120, 'integer': True},
    
    'Annual_Income': {'min': 0, 'max': None, 'integer': False}, 
    
    'Monthly_Inhand_Salary': {'min': 0, 'max': None, 'integer': False}, 

    'Num_Bank_Accounts': {'min': 0, 'max': 50, 'integer': True},

    'Num_Credit_Card': {'min': 0, 'max': 50, 'integer': True},

    'Interest_Rate': {'min': 0, 'max': 100, 'integer': False},
    
    'Num_of_Loan': {'min': 0, 'max': 50, 'integer': True},
    
    'Delay_from_due_date': {'min': 0, 'max': 180, 'integer': True},
    
    'Num_of_Delayed_Payment': {'min': 0, 'max': None, 'integer': True}, 
   
    'Changed_Credit_Limit': {'min': None, 'max': None, 'integer': False}, 
   
    'Num_Credit_Inquiries': {'min': 0, 'max': 50, 'integer': True},
    
    'Outstanding_Debt': {'min': 0, 'max': None, 'integer': False},

    'Credit_Utilization_Ratio': {'min': 0, 'max': 100, 'integer': False},
    
    'Credit_History_Age': {'min': 0, 'max': 110, 'integer': False},

    'Amount_invested_monthly': {'min': 0, 'max': None, 'integer': False}, 

    'Credit_Score': {'min': 0, 'max': 3, 'integer': True}
}


list_numerical_features_before_constraints = get_numerical_features(df)
print("\nNumeric columns Statistics - Before Setting Constraints:\n")
for col in list_numerical_features_before_constraints:
    print(f"{col}: {df[col].describe()}\n")
print("\n"+"-"*100+"\n")

print("Setting constraints for numeric features...\n")
df = set_constraints_for_numeric_features(df, list_numerical_features_before_constraints, CONSTRAINTS)


list_numerical_features_after_constraints = get_numerical_features(df)
print("\n"+"-"*100+"\n")
print("\nNumeric columns Statistics - After Setting Constraints:\n")
for col in list_numerical_features_after_constraints:
    print(f"{col}: {df[col].describe()}\n")

Numeric columns Statistics - Before Setting Constraints:

Age: count    85512.000000
mean       110.226845
std        684.907588
min       -500.000000
25%         24.000000
50%         33.000000
75%         42.000000
max       8698.000000
Name: Age, dtype: float64

Annual_Income: count    8.990600e+04
mean     1.765448e+05
std      1.429013e+06
min      7.005930e+03
25%      1.945305e+04
50%      3.757975e+04
75%      7.276004e+04
max      2.419806e+07
Name: Annual_Income, dtype: float64

Monthly_Inhand_Salary: count    76405.000000
mean      4185.789272
std       3178.560506
min        303.645417
25%       1625.023750
50%       3086.683333
75%       5940.317500
max      15204.633330
Name: Monthly_Inhand_Salary, dtype: float64

Num_Bank_Accounts: count    90167.000000
mean        17.105172
std        117.728215
min         -1.000000
25%          3.000000
50%          6.000000
75%          7.000000
max       1798.000000
Name: Num_Bank_Accounts, dtype: float64

Num_Credit_Card: count    89938.000000
mean        22.449410
std        129.037233
min          0.000000
25%          4.000000
50%          5.000000
75%          7.000000
max       1499.000000
Name: Num_Credit_Card, dtype: float64

Interest_Rate: count    90151.000000
mean        72.343923
std        465.684822
min          1.000000
25%          8.000000
50%         13.000000
75%         20.000000
max       5797.000000
Name: Interest_Rate, dtype: float64

Num_of_Loan: count    89809.000000
mean         3.065116
std         63.193373
min       -100.000000
25%          1.000000
50%          3.000000
75%          5.000000
max       1496.000000
Name: Num_of_Loan, dtype: float64

Delay_from_due_date: count    90012.000000
mean        21.081156
std         14.862707
min         -5.000000
25%         10.000000
50%         18.000000
75%         28.000000
max         67.000000
Name: Delay_from_due_date, dtype: float64

Num_of_Delayed_Payment: count    83782.000000
mean        31.041369
std        226.370296
min         -3.000000
25%          9.000000
50%         14.000000
75%         18.000000
max       4388.000000
Name: Num_of_Delayed_Payment, dtype: float64

Changed_Credit_Limit: count    88058.000000
mean        10.389097
std          6.782829
min         -6.490000
25%          5.340000
50%          9.410000
75%         14.860000
max         36.970000
Name: Changed_Credit_Limit, dtype: float64

Num_Credit_Inquiries: count    88102.000000
mean        27.846882
std        193.610843
min          0.000000
25%          3.000000
50%          6.000000
75%          9.000000
max       2597.000000
Name: Num_Credit_Inquiries, dtype: float64

Outstanding_Debt: count    90037.000000
mean      1426.100764
std       1154.658674
min          0.230000
25%        566.400000
50%       1167.040000
75%       1943.080000
max       4998.070000
Name: Outstanding_Debt, dtype: float64

Credit_Utilization_Ratio: count    90025.000000
mean        32.290967
std          5.114670
min         20.100770
25%         28.064418
50%         32.318280
75%         36.502272
max         50.000000
Name: Credit_Utilization_Ratio, dtype: float64

Credit_History_Age: count    81791.000000
mean        18.429578
std          8.311059
min          0.083333
25%         12.000000
50%         18.250000
75%         25.166667
max         33.666667
Name: Credit_History_Age, dtype: float64

Amount_invested_monthly: count    85880.000000
mean       636.146662
std       2041.263519
min          0.000000
25%         74.398846
50%        135.672601
75%        265.198596
max      10000.000000
Name: Amount_invested_monthly, dtype: float64

Credit_Score: count    100000.000000
mean          1.880640
std           0.683065
min           0.000000
25%           1.000000
50%           2.000000
75%           2.000000
max           3.000000
Name: Credit_Score, dtype: float64


----------------------------------------------------------------------------------------------------

Setting constraints for numeric features...


Cleaning Age...
  Found 790 below-minimum constraint. Replacing with NaN
  Found 1612 above-maximum constraint. Replacing with NaN

Cleaning Annual_Income...

Cleaning Monthly_Inhand_Salary...

Cleaning Num_Bank_Accounts...
  Found 20 below-minimum constraint. Replacing with NaN
  Found 1153 above-maximum constraint. Replacing with NaN

Cleaning Num_Credit_Card...
  Found 1991 above-maximum constraint. Replacing with NaN

Cleaning Interest_Rate...
  Found 1808 above-maximum constraint. Replacing with NaN

Cleaning Num_of_Loan...
  Found 3474 below-minimum constraint. Replacing with NaN
  Found 411 above-maximum constraint. Replacing with NaN

Cleaning Delay_from_due_date...
  Found 533 below-minimum constraint. Replacing with NaN

Cleaning Num_of_Delayed_Payment...
  Found 576 below-minimum constraint. Replacing with NaN

Cleaning Changed_Credit_Limit...

Cleaning Num_Credit_Inquiries...
  Found 1468 above-maximum constraint. Replacing with NaN

Cleaning Outstanding_Debt...

Cleaning Credit_Utilization_Ratio...

Cleaning Credit_History_Age...

Cleaning Amount_invested_monthly...

Cleaning Credit_Score...

----------------------------------------------------------------------------------------------------


Numeric columns Statistics - After Setting Constraints:

Age: count    83110.000000
mean        33.333738
std         10.802157
min         14.000000
25%         24.000000
50%         33.000000
75%         42.000000
max        118.000000
Name: Age, dtype: float64

Annual_Income: count    8.990600e+04
mean     1.765448e+05
std      1.429013e+06
min      7.005930e+03
25%      1.945305e+04
50%      3.757975e+04
75%      7.276004e+04
max      2.419806e+07
Name: Annual_Income, dtype: float64

Monthly_Inhand_Salary: count    76405.000000
mean      4185.789272
std       3178.560506
min        303.645417
25%       1625.023750
50%       3086.683333
75%       5940.317500
max      15204.633330
Name: Monthly_Inhand_Salary, dtype: float64

Num_Bank_Accounts: count    88994.000000
mean         5.382397
std          2.660145
min          0.000000
25%          3.000000
50%          6.000000
75%          7.000000
max         50.000000
Name: Num_Bank_Accounts, dtype: float64

Num_Credit_Card: count    87947.000000
mean         5.549490
std          2.174498
min          0.000000
25%          4.000000
50%          5.000000
75%          7.000000
max         49.000000
Name: Num_Credit_Card, dtype: float64

Interest_Rate: count    88343.000000
mean        14.547389
std          8.791108
min          1.000000
25%          7.000000
50%         13.000000
75%         20.000000
max        100.000000
Name: Interest_Rate, dtype: float64

Num_of_Loan: count    85924.00000
mean         3.53879
std          2.49045
min          0.00000
25%          2.00000
50%          3.00000
75%          5.00000
max         50.00000
Name: Num_of_Loan, dtype: float64

Delay_from_due_date: count    89479.000000
mean        21.219940
std         14.797115
min          0.000000
25%         10.000000
50%         18.000000
75%         28.000000
max         67.000000
Name: Delay_from_due_date, dtype: float64

Num_of_Delayed_Payment: count    83206.000000
mean        31.267697
std        227.136078
min          0.000000
25%          9.000000
50%         14.000000
75%         18.000000
max       4388.000000
Name: Num_of_Delayed_Payment, dtype: float64

Changed_Credit_Limit: count    88058.000000
mean        10.389097
std          6.782829
min         -6.490000
25%          5.340000
50%          9.410000
75%         14.860000
max         36.970000
Name: Changed_Credit_Limit, dtype: float64

Num_Credit_Inquiries: count    86634.000000
mean         5.784980
std          3.879198
min          0.000000
25%          3.000000
50%          5.000000
75%          8.000000
max         49.000000
Name: Num_Credit_Inquiries, dtype: float64

Outstanding_Debt: count    90037.000000
mean      1426.100764
std       1154.658674
min          0.230000
25%        566.400000
50%       1167.040000
75%       1943.080000
max       4998.070000
Name: Outstanding_Debt, dtype: float64

Credit_Utilization_Ratio: count    90025.000000
mean        32.290967
std          5.114670
min         20.100770
25%         28.064418
50%         32.318280
75%         36.502272
max         50.000000
Name: Credit_Utilization_Ratio, dtype: float64

Credit_History_Age: count    81791.000000
mean        18.429578
std          8.311059
min          0.083333
25%         12.000000
50%         18.250000
75%         25.166667
max         33.666667
Name: Credit_History_Age, dtype: float64

Amount_invested_monthly: count    85880.000000
mean       636.146662
std       2041.263519
min          0.000000
25%         74.398846
50%        135.672601
75%        265.198596
max      10000.000000
Name: Amount_invested_monthly, dtype: float64

Credit_Score: count    100000.000000
mean          1.880640
std           0.683065
min           0.000000
25%           1.000000
50%           2.000000
75%           2.000000
max           3.000000
Name: Credit_Score, dtype: float64

## Missing Values Handling

In [53]:
import src.preprocessing.missing_values as missing_values
importlib.reload(missing_values)
from src.preprocessing.missing_values import *

### Handle Missing values for categorical features

In [54]:
visualize_proportion_of_unique_categories(df, list_categorical_features)

Column 'Month' has 9 unique categories:

All categories (proportion) for column 'Month':

April: 11.32%
May: 11.32%
June: 11.28%
February: 11.25%
July: 11.24%
January: 11.24%
August: 11.22%
March: 11.19%
Missing: 9.94%

----------------------------------------------------------------------------------------------------


Column 'City' has 5 unique categories:

All categories (proportion) for column 'City':

Standhampton: 47.74%
BadShire: 26.07%
Lonton: 16.02%
Missing: 9.85%
ZeroVille: 0.32%

----------------------------------------------------------------------------------------------------


Column 'Street' has 32 unique categories:

Showing top 10 most frequent categories (proportion) for column 'Street':

Missing: 9.92%
Quality Street: 5.34%
Memory Street: 5.17%
Fleet Street: 5.15%
High Street: 5.05%
Jubilee Street: 5.00%
Old Street: 4.96%
Grove Street: 4.88%
New Street: 4.85%
Pine Street: 4.83%

----------------------------------------------------------------------------------------------------


Column 'Occupation' has 22 unique categories:

Showing top 10 most frequent categories (proportion) for column 'Occupation':

Journalist: 17.00%
Architect: 16.58%
Teacher: 16.40%
Missing: 9.94%
Cleaner: 3.42%
Musician: 3.38%
Artist: 3.36%
Unemployed: 3.18%
Mechanic: 3.16%
Writer: 3.12%

----------------------------------------------------------------------------------------------------


Column 'Type_of_Loan' has 6261 unique categories:

Showing top 10 most frequent categories (proportion) for column 'Type_of_Loan':

Missing: 20.31%
Not Specified: 1.27%
Credit-Builder Loan: 1.14%
Debt Consolidation Loan: 1.13%
Personal Loan: 1.13%
Student Loan: 1.12%
Payday Loan: 1.06%
Mortgage Loan: 1.06%
Auto Loan: 1.02%
Home Equity Loan: 1.01%

----------------------------------------------------------------------------------------------------


Column 'Credit_Mix' has 5 unique categories:

All categories (proportion) for column 'Credit_Mix':

Standard: 32.88%
Good: 21.92%
_: 18.21%
Bad: 17.09%
Missing: 9.92%

----------------------------------------------------------------------------------------------------


Column 'Payment_of_Min_Amount' has 4 unique categories:

All categories (proportion) for column 'Payment_of_Min_Amount':

Yes: 47.20%
No: 32.02%
NM: 10.81%
Missing: 9.96%

----------------------------------------------------------------------------------------------------

In [55]:
# Define imputation methods by feature

# My idea was to use an unknown category in the case from my domain knowledge 
# i know that the categories for a feature are possibly not all present 
# and that the unknown category could be a good representation of the missing categories,
# but ensuring that this new category would not strongly skew the distribution of the feature categories

# on the other hand i decided to use the knn imputation for ensuring that 
# the distribution of the feature categories is kept, when all the possible categories are present

IMPUTATION_METHODS = {
    
    'Month': 'unknown_category',

    'City': 'unknown_category',

    'Street': 'knn',

    'Occupation': 'unknown_category',

    'Type_of_Loan': 'knn',

    'Credit_Mix': 'knn',

    'Payment_of_Min_Amount': 'knn', 
}

### Handle Missing values for numeric features

## Outliers Handling

In [56]:
CONSTRAINTS = {
    'Age':  'domain'    ,  # Domain knowledge-based constraints
    
    'Annual_Income': 'iqr', # Income typically has skewed distribution, IQR works well
    
    'Monthly_Inhand_Salary': 'iqr', 

    'Num_Bank_Accounts':  'domain',

    'Num_Credit_Card':  'domain',

    'Interest_Rate':  'domain',
    
    'Num_of_Loan':  'domain',
    
    'Delay_from_due_date':  'domain',
    
    'Num_of_Delayed_Payment':  'zscore', # Z-score works well for count data
   
    'Changed_Credit_Limit':  'zscore', # Z-score for bidirectional changes (min can be negative)
   
    'Num_Credit_Inquiries':  'domain',
    
    'Outstanding_Debt':  'domain',

    'Credit_Utilization_Ratio':  'domain',
    
    'Credit_History_Age':  'domain',

    'Amount_invested_monthly':  'iqr', 

    'Credit_Score':  'domain',
}

# Features and Correlations Analysis

# Categorical Features Encoding (maybe before than Correlations Aanalysis)

# Models Training

# Models Evaluation